<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Стена</title>
</head>
<body>
--------------------------------------------------------------------------------
Удаляем лишнее, т.е. оставляем то, что будет внедрятся в файл базового шаблона.
--------------------------------------------------------------------------------
-->
<!-- добавляем: -->
{% extends 'main.html' %} <!-- указываем, в какой файл будет внедрятся ниже следующий блок-->
{% load static %} <!-- подключаем статичные файлы-->

{% block article %} <!-- задаем блок с именем article-->
    <div class="large-8 column">
{% for article in articles %}
    <h6>Дата публикации:{{ article.article_date }}</h6>
    <h4><a href="/articles/get/{{ article.id }}">{{ article.article_title }}</a></h4>
    <p>{{ article.article_text }}</p>
    <p><a href="/articles/addlike/{{ article.id }}/"><img src="{% static "like40x40.png" %}" width="25px" height="25px" alt="My image"/></a>{{ article.article_likes }}</p>
    <hr>
{% endfor %}
    </div>
{% endblock %} <!-- закрываем блок -->
<!--
</body>
</html>
-->